PORT=5000
MONGO_URI= mongodb://amanmauryaDB:gk64RATpQ6RxGY7K@ac-yzro1y2-shard-00-00.mjetjeq.mongodb.net:27017,ac-yzro1y2-shard-00-01.mjetjeq.mongodb.net:27017,ac-yzro1y2-shard-00-02.mjetjeq.mongodb.net:27017/?ssl=true&replicaSet=atlas-sf2odz-shard-0&authSource=admin&retryWrites=true&w=majority;

FRONTEND_URL=http://localhost:5173
